# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# MacOS
.DS_Store

# Datasets and Large Files (Optional depending on your needs, typically ignored)
# *.csv
# artifacts/  # Uncomment if you want to ignore generated models
